
/.makemd/fileCache.mdc
/.obsidian
/.smart-env/smart_env.json
/.smart-env/multi/欢迎_md.ajson
/.space/waypoints.json
/.makemd/superstate.mdc
/.*
!.gitignore
code/.kilocode/mcp.json

/复试/面试/计算机科学与技术复试问题总结.pptx
/复试/面试/~$计算机科学与技术复试问题总结.pptx
/.gitignore